In [1]:
import pandas as pd 
import numpy as np 
import sqlite3

In [2]:
##creating a new sqllite database
conn = sqlite3.connect('oklahoma_homes_sale.db')

In [3]:
query3=("""\
SELECT * FROM homes
               """)

In [4]:
new2=pd.read_sql(query3, conn)

In [5]:
new2.shape

(8435, 10)

In [6]:
new2.shape

(8435, 10)

In [7]:
##use this to see if update strategy worked##figureout why some of these houses are showing wrong prices 
new2[new2['unique_id']=='aab29e962']

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id
2477,"2532SOwassoAvenue,Tulsa,OK74114",749000.0,74114,Tulsa,4.0,3.0,2603.0,0.186,Residential,aab29e962

In [8]:
new2.head()

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id
0,"3101N.E,50,OklahomaCity,OK73121",1200000.0,73121,50,5.0,5.1,4834.0,0.304,Single-FamilyHome,528db3a24
1,"20685E48thStreetS,BrokenArrow,OK74014",265000.0,74014,Broken Arrow,3.0,2.0,1960.0,0.172,Residential,5b7c45cb9
2,"18521FelizDrive,OklahomaCity,OK73012",499999.0,73012,Oklahoma City,4.0,2.5,3141.0,0.304,Single-FamilyHome,efeaa8beb
3,"2010SECypressCircle,Bartlesville,OK74006",237990.0,74006,Bartlesville,3.0,2.0,1412.0,0.202,Residential,5dc223a37
4,"1704NWOakAve,Lawton,OK73507",107500.0,73507,Lawton,3.0,2.0,1100.0,0.304,Single-FamilyHome,55d5a6eb6

In [9]:
new2[new2['zip_code']=='74344']

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id
6,"64901E290RD,Grove,OK74344",219000.0,74344,Grove,3.0,3.0,3734.0,1.500,Residential,6f8397c81
114,"4983LakeBreezeDr,Grove,OK74344",425000.0,74344,Grove,4.0,3.0,2564.0,0.280,Residential,5ec6baa53
339,"31761S605Rd,Grove,OK74344",1950000.0,74344,Grove,5.0,6.0,5733.0,31.620,Residential,6e2409aa7
690,"4926LostCoveRd,Grove,OK74344",85000.0,74344,Grove,5.0,3.0,2270.0,11.210,Residential,e3e97841f
752,"0000S250Rd,Grove,OK74344",89900.0,74344,Grove,4.0,2.0,1705.0,0.201,Residential,e066aef7c
789,"1309HummingbirdLn,Grove,OK74344",350000.0,74344,Grove,4.0,4.0,3500.0,0.230,Residential,278f4c44a
821,"900Hazel,Grove,OK74344",179900.0,74344,Grove,2.0,2.0,1334.0,0.261,Residential,5ec239a49
1117,"1614BuffaloDr,Grove,OK74344",395000.0,74344,Grove,2.0,2.0,1320.0,4.500,Residential,f0f580991
1120,"4989LighthouseSpringsDr,Grove,OK74344",749000.0,74344,Grove,4.0,3.0,2574.0,2.160,Residential,dbb173bc5
2230,"405E7thSt,Grove,OK74344",310000.0,74344,Grove,3.0,3.0,1866.0,0.400,Residential,3f9c02eed
2238,"1420OrchardDrive,Grove,OK74344",229900.0,74344,Grove,3.0,2.0,1496.0,0.544,Residential,93a244e81
2324,"2609LakeRd3,Grove,OK74344",99900.0,74344,Grove,5.0,2.0,2038.0,0.321,Residential,cb55437be
2347,"64800E260RD,Grove,OK74344",550000.0,74344,Grove,3.0,2.0,1716.0,10.000,Residential,49a7782bc
2357,"TBDBuffaloDr,Grove,OK74344",5200.0,74344,Grove,5.0,4.0,2498.0,0.190,Residential,a9df1ed9a
2533,"63030E293,Grove,OK74344",299000.0,74344,Grove,3.0,2.0,1721.0,1.080,Residential,c972ea57d
2636,"61989E270Rd,Grove,OK74344",325000.0,74344,Grove,3.0,2.0,1450.0,0.830,Residential,ba1785aca
2638,"32170594,Grove,OK74344",550000.0,74344,Grove,5.0,3.0,3149.0,0.530,Residential,fe1a41558
2718,"61200E277RdRd,Grove,OK74344",17900.0,74344,Grove,3.0,1.0,1147.0,0.150,Residential,5768d3983
2728,"63921Ln298,Grove,OK74344",36900.0,74344,Grove,4.0,2.0,1956.0,0.530,Residential,e12e2d005
2768,"25438S663Rd,Grove,OK74344",225000.0,74344,Grove,1.0,1.0,864.0,0.690,Residential,238fe2f48

In [10]:
## replacing properties with sq_ft less than 50 with the median sqft

In [11]:
def sq_ft(x):
    if x<50:
        return np.nan
    else: 
        return x

In [12]:
new2['sq_ft']=new2['sq_ft'].apply(sq_ft)

In [13]:
new2['sq_ft']=new2['sq_ft'].fillna(new2['sq_ft'].median())

In [14]:
new2[new2['sq_ft']<50]

Empty DataFrame
Columns: [address, price, zip_code, city, bed_rooms, bath_rooms, sq_ft, lot_size, property_type, unique_id]
Index: []

In [15]:
##removing spaces from city to allow for filtering. 
new2['city']=new2['city'].str.strip()

In [16]:
new2.shape

(8435, 10)

In [17]:
new2.shape

(8435, 10)

In [18]:
new2['price_per_sq_ft']=new2['price']/new2['sq_ft']

In [19]:
new2.head()

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft
0,"3101N.E,50,OklahomaCity,OK73121",1200000.0,73121,50,5.0,5.1,4834.0,0.304,Single-FamilyHome,528db3a24,248.241622
1,"20685E48thStreetS,BrokenArrow,OK74014",265000.0,74014,Broken Arrow,3.0,2.0,1960.0,0.172,Residential,5b7c45cb9,135.204082
2,"18521FelizDrive,OklahomaCity,OK73012",499999.0,73012,Oklahoma City,4.0,2.5,3141.0,0.304,Single-FamilyHome,efeaa8beb,159.184655
3,"2010SECypressCircle,Bartlesville,OK74006",237990.0,74006,Bartlesville,3.0,2.0,1412.0,0.202,Residential,5dc223a37,168.548159
4,"1704NWOakAve,Lawton,OK73507",107500.0,73507,Lawton,3.0,2.0,1100.0,0.304,Single-FamilyHome,55d5a6eb6,97.727273

In [20]:
#devon tower zipcode
##73102

In [21]:
#calculating distance between two zipcodes
import pgeocode
#Geographical distance is the distance measured along the surface of the earth. 
#The formulae  calculate distances between points which are defined by geographical coordinates in 
#terms of latitude and longitude. This distance is an element in solving the second (inverse) geodetic problem.
dist=pgeocode.GeoDistance('US')
#adding OU medical center distance to our datafame 
new2['devon_zip']='73102'
new2['geo_distance_km']=dist.query_postal_code(new2['zip_code'].to_list(),new2['devon_zip'].to_list())

In [22]:
new2.head()

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft,devon_zip,geo_distance_km
0,"3101N.E,50,OklahomaCity,OK73121",1200000.0,73121,50,5.0,5.1,4834.0,0.304,Single-FamilyHome,528db3a24,248.241622,73102,7.726523
1,"20685E48thStreetS,BrokenArrow,OK74014",265000.0,74014,Broken Arrow,3.0,2.0,1960.0,0.172,Residential,5b7c45cb9,135.204082,73102,174.615563
2,"18521FelizDrive,OklahomaCity,OK73012",499999.0,73012,Oklahoma City,4.0,2.5,3141.0,0.304,Single-FamilyHome,efeaa8beb,159.184655,73102,17.085296
3,"2010SECypressCircle,Bartlesville,OK74006",237990.0,74006,Bartlesville,3.0,2.0,1412.0,0.202,Residential,5dc223a37,168.548159,73102,200.698157
4,"1704NWOakAve,Lawton,OK73507",107500.0,73507,Lawton,3.0,2.0,1100.0,0.304,Single-FamilyHome,55d5a6eb6,97.727273,73102,123.115383

In [23]:
##bedroom to bathroom ratio 
new2['bed_to_bath_ratio']=new2['bath_rooms']/new2['bed_rooms']

In [24]:
#adding average price by zipcode 
average_price_byzipcode=new2.groupby('zip_code')[['price']].mean().reset_index().rename({'price':'average_homeprice_byzip'},axis=1)

In [25]:
average_price_byzipcode

     zip_code  average_homeprice_byzip
0       73003            350815.377778
1      73003             317247.058824
2       73005             16666.666667
3      73005             189900.000000
4       73006            240000.000000
..        ...                      ...
609     74966            728181.666667
610  neyville              3000.000000
611      ogah            320000.000000
612       ron             30000.000000
613       ton             37333.333333

[614 rows x 2 columns]

In [26]:
new2['zip_code']=new2['zip_code'].str.replace(' ','')

In [27]:
#adding census zipcode data
zip_census=pd.read_excel(r'C:\Users\arnie\Desktop\OU health stuff\zip_stats.xlsx')

In [28]:
zip_census.columns=zip_census.columns.str.replace(' ', '')

In [29]:
zip_census.head()

   AddressZipCode  Median_income Mean_income  Population
0            1001     56662.5735     66687.8       16445
1            1002     49853.4177     75062.6       28069
2            1003     28462.0000       35121        8491
3            1005     75423.0000       82442        4798
4            1007     79076.3540       85802       12962

In [30]:
zip_census=zip_census.drop('Median_income',axis=1)

In [31]:
zip_census=zip_census.rename({'AddressZipCode':'zip_code'},axis=1)

In [32]:
##merging 
new3=new2.merge(average_price_byzipcode,on='zip_code',how='left')

In [33]:
zip_census['zip_code'].astype(str)

0         1001
1         1002
2         1003
3         1005
4         1007
         ...
32629    99923
32630    99925
32631    99926
32632    99927
32633    99929
Name: zip_code, Length: 32634, dtype: object

In [34]:
zip_census['zip_code']=zip_census['zip_code'].astype(str)

In [35]:
new4=new3.merge(zip_census,on='zip_code',how='left')

In [36]:
new4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8435 entries, 0 to 8434
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   address                  8435 non-null   object
 1   price                    8435 non-null   float64
 2   zip_code                 8409 non-null   object
 3   city                     8433 non-null   object
 4   bed_rooms                8435 non-null   float64
 5   bath_rooms               8435 non-null   float64
 6   sq_ft                    8435 non-null   float64
 7   lot_size                 8435 non-null   float64
 8   property_type            8435 non-null   object
 9   unique_id                8435 non-null   object
 10  price_per_sq_ft          8435 non-null   float64
 11  devon_zip                8435 non-null   object
 12  geo_distance_km          4419 non-null   float64
 13  bed_to_bath_ratio        8435 non-null   float64
 14  average_homeprice_byzip  8360 non-null   float64
 15  Mean_income              8403 non-null   object
 16  Population               8403 non-null   float64
dtypes: float64(10), object(7)
memory usage: 1.2+ MB

In [37]:
new4.columns

Index(['address', 'price', 'zip_code', 'city', 'bed_rooms', 'bath_rooms',
       'sq_ft', 'lot_size', 'property_type', 'unique_id', 'price_per_sq_ft',
       'devon_zip', 'geo_distance_km', 'bed_to_bath_ratio',
       'average_homeprice_byzip', 'Mean_income', 'Population'],
      dtype='object')

In [38]:
new4['Mean_income']=new4['Mean_income'].astype('float')

In [39]:
new4.head()

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft,devon_zip,geo_distance_km,bed_to_bath_ratio,average_homeprice_byzip,Mean_income,Population
0,"3101N.E,50,OklahomaCity,OK73121",1200000.0,73121,50,5.0,5.1,4834.0,0.304,Single-FamilyHome,528db3a24,248.241622,73102,7.726523,1.020000,543571.428571,65579.1405,3159.0
1,"20685E48thStreetS,BrokenArrow,OK74014",265000.0,74014,Broken Arrow,3.0,2.0,1960.0,0.172,Residential,5b7c45cb9,135.204082,73102,174.615563,0.666667,277071.521739,75406.9777,22568.0
2,"18521FelizDrive,OklahomaCity,OK73012",499999.0,73012,Oklahoma City,4.0,2.5,3141.0,0.304,Single-FamilyHome,efeaa8beb,159.184655,73102,17.085296,0.625000,393675.884793,98838.5478,13373.0
3,"2010SECypressCircle,Bartlesville,OK74006",237990.0,74006,Bartlesville,3.0,2.0,1412.0,0.202,Residential,5dc223a37,168.548159,73102,200.698157,0.666667,202828.437500,70988.6052,23892.0
4,"1704NWOakAve,Lawton,OK73507",107500.0,73507,Lawton,3.0,2.0,1100.0,0.304,Single-FamilyHome,55d5a6eb6,97.727273,73102,123.115383,0.666667,131941.560000,52444.3321,21585.0

In [40]:
new4['percapitaveragezipprice']=new4['average_homeprice_byzip']/new4['Population']

In [41]:
new4.corr()['price'].sort_values(ascending=False)

price                      1.000000
sq_ft                      0.650414
bath_rooms                 0.592582
bed_to_bath_ratio          0.415193
bed_rooms                  0.387806
average_homeprice_byzip    0.382519
price_per_sq_ft            0.269160
Mean_income                0.267936
percapitaveragezipprice    0.157704
lot_size                   0.153358
Population                -0.031971
geo_distance_km           -0.077230
Name: price, dtype: float64

In [42]:
##trying to add distance to down town using geopy

In [43]:
##tomorrow start by building a predictive model and analyze furtheref

In [44]:
pd.options.display.float_format = '{:20,.2f}'.format

In [45]:
new4.head()

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft,devon_zip,geo_distance_km,bed_to_bath_ratio,average_homeprice_byzip,Mean_income,Population,percapitaveragezipprice
0,"3101N.E,50,OklahomaCity,OK73121","1,200,000.00",73121,50,5.00,5.10,"4,834.00",0.30,Single-FamilyHome,528db3a24,248.24,73102,7.73,1.02,"543,571.43","65,579.14","3,159.00",172.07
1,"20685E48thStreetS,BrokenArrow,OK74014","265,000.00",74014,Broken Arrow,3.00,2.00,"1,960.00",0.17,Residential,5b7c45cb9,135.20,73102,174.62,0.67,"277,071.52","75,406.98","22,568.00",12.28
2,"18521FelizDrive,OklahomaCity,OK73012","499,999.00",73012,Oklahoma City,4.00,2.50,"3,141.00",0.30,Single-FamilyHome,efeaa8beb,159.18,73102,17.09,0.62,"393,675.88","98,838.55","13,373.00",29.44
3,"2010SECypressCircle,Bartlesville,OK74006","237,990.00",74006,Bartlesville,3.00,2.00,"1,412.00",0.20,Residential,5dc223a37,168.55,73102,200.70,0.67,"202,828.44","70,988.61","23,892.00",8.49
4,"1704NWOakAve,Lawton,OK73507","107,500.00",73507,Lawton,3.00,2.00,"1,100.00",0.30,Single-FamilyHome,55d5a6eb6,97.73,73102,123.12,0.67,"131,941.56","52,444.33","21,585.00",6.11

In [46]:
new4[new4['city']=='Edmond'].sort_index(ascending=False).head(30)

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft,devon_zip,geo_distance_km,bed_to_bath_ratio,average_homeprice_byzip,Mean_income,Population,percapitaveragezipprice
8367,"909HuntsmanRoad,Edmond,OK73003","349,000.00",73003,Edmond,4.00,3.00,"3,331.00",0.60,Residential,beba26fff,104.77,73102,nan,0.75,"350,815.38","68,231.56","16,601.00",21.13
8232,"1209NayAvenue,Edmond,OK73034","329,000.00",73034,Edmond,3.00,2.00,"1,833.00",0.16,Residential,e450f0080,179.49,73102,nan,0.67,"479,470.57","95,137.32","31,219.00",15.36
6340,"1632SavannahLane,Edmond,OK73003","270,000.00",73003,Edmond,4.00,2.00,"1,837.00",0.17,Residential,774d707ef,146.98,73102,nan,0.50,"350,815.38","68,231.56","16,601.00",21.13
6339,"10201WeathersBrookLane,Edmond,OK73025","650,000.00",73025,Edmond,3.00,3.00,"3,335.00",5.05,Residential,736a1bb88,194.90,73102,nan,1.00,"603,985.96","144,655.91","6,543.00",92.31
6338,"3108AshGroveRoad,Edmond,OK73003","427,000.00",73003,Edmond,3.00,3.00,"2,790.00",0.21,Residential,5abdaa325,153.05,73102,nan,1.00,"350,815.38","68,231.56","16,601.00",21.13
6337,"4704ShadowCreekDrive,Edmond,OK73034","765,000.00",73034,Edmond,4.00,4.00,"3,092.00",2.16,Residential,e87d47bf3,247.41,73102,nan,1.00,"479,470.57","95,137.32","31,219.00",15.36
6336,"10600SorentinoDrive,Edmond,OK73007","1,350,000.00",73007,Edmond,4.00,5.00,"4,523.00",9.44,Residential,d49ae7810,298.47,73102,nan,1.25,"830,417.68","113,479.22","1,673.00",496.36
6335,"707InveraryDrive,Edmond,OK73025","384,000.00",73025,Edmond,3.00,3.00,"3,046.00",0.11,Residential,935c96d6a,126.07,73102,nan,1.00,"603,985.96","144,655.91","6,543.00",92.31
6334,"1600DuxsfordCourt,Edmond,OK73034","975,000.00",73034,Edmond,6.00,7.00,"5,419.00",1.50,Residential,c1243a282,179.92,73102,nan,1.17,"479,470.57","95,137.32","31,219.00",15.36
6191,"917GatewayBridgeRoad,Edmond,OK73034","669,900.00",73034,Edmond,4.00,4.00,"3,191.00",0.28,Residential,82124f7a1,209.93,73102,nan,1.00,"479,470.57","95,137.32","31,219.00",15.36
6190,"1819OakForestDrive,Edmond,OK73025","799,900.00",73025,Edmond,4.00,4.00,"3,507.00",0.61,Residential,0f9c018eb,228.09,73102,nan,1.00,"603,985.96","144,655.91","6,543.00",92.31
6189,"2610ElwoodDrive,Edmond,OK73013","299,000.00",73013,Edmond,4.00,4.00,"2,200.00",0.22,Other,590531d9c,135.91,73102,nan,1.00,"510,444.39","98,100.13","31,732.00",16.09
6188,"1409PaseoBridgeCourt,Edmond,OK73034","697,900.00",73034,Edmond,4.00,4.00,"3,295.00",0.28,Residential,dca8c23f1,211.81,73102,nan,1.00,"479,470.57","95,137.32","31,219.00",15.36
6187,"4908CoronadoBridgeCourt,Edmond,OK73034","600,000.00",73034,Edmond,4.00,4.00,"3,071.00",0.36,Residential,179499552,195.38,73102,nan,1.00,"479,470.57","95,137.32","31,219.00",15.36
6186,"2917FairfieldDrive,Edmond,OK73012","285,737.00",73012,Edmond,3.00,2.00,"2,047.00",0.33,Residential,34ee8b477,139.59,73102,nan,0.67,"393,675.88","98,838.55","13,373.00",29.44
6185,"4425ManOWarDrive,Edmond,OK73025","536,137.00",73025,Edmond,5.00,4.00,"3,927.00",0.25,Residential,5cf3fc72b,136.53,73102,nan,0.80,"603,985.96","144,655.91","6,543.00",92.31
6184,"2801MesquiteLane,Edmond,OK73034","625,000.00",73034,Edmond,4.00,4.00,"3,430.00",0.26,Residential,7e652ffe7,182.22,73102,nan,1.00,"479,470.57","95,137.32","31,219.00",15.36
6174,"3716WinnersCircle,Edmond,OK73034","398,000.00",73034,Edmond,4.00,3.00,"2,416.00",0.22,Single-FamilyHome,edc1b1646,164.74,73102,nan,0.75,"479,470.57","95,137.32","31,219.00",15.36
6079,"1416KerryLayne,Edmond,OK73034","555,000.00",73034,Edmond,4.00,4.00,"3,353.00",0.44,Residential,0099ce9a7,165.52,73102,nan,1.00,"479,470.57","95,137.32","31,219.00",15.36
6078,"516HarrierHawk,Edmond,OK73003","295,500.00",73003,Edmond,3.00,2.00,"2,015.00",0.20,Residential,6fc3c3441,146.65,73102,nan,0.67,"350,815.38","68,231.56","16,601.00",21.13
6077,"1605TurtlecreekRoad,Edmond,OK73013","489,900.00",73013,Edmond,4.00,3.00,"3,455.00",0.22,Residential,7fe57d716,141.79,73102,nan,0.75,"510,444.39","98,100.13","31,732.00",16.09
6076,"916E11thStreet,Edmond,OK73034","450,000.00",73034,Edmond,4.00,4.00,"2,746.00",0.31,Residential,a6b2d3216,163.87,73102,nan,1.00,"479,470.57","95,137.32","31,219.00",15.36
6075,"1109FlorenceDrive,Edmond,OK73034","135,000.00",73034,Edmond,2.00,1.00,828.00,0.14,Residential,a2c447265,163.04,73102,nan,0.50,"479,470.57","95,137.32","31,219.00",15.36
6074,"823FrancisLane,Edmond,OK73034","349,900.00",73034,Edmond,4.00,3.00,"2,281.00",0.31,Residential,66068e274,153.40,73102,nan,0.75,"479,470.57","95,137.32","31,219.00",15.36
6069,"1916RushingMeadows,Edmond,OK73013","220,000.00",73013,Edmond,3.00,2.00,"1,717.00",0.22,Single-FamilyHome,7c0447b94,128.13,73102,nan,0.67,"510,444.39","98,100.13","31,732.00",16.09
5948,"423BentonRoad,Edmond,OK73034","189,900.00",73034,Edmond,3.00,2.00,"1,234.00",0.14,Residential,0d8ad3c68,153.89,73102,nan,0.67,"479,470.57","95,137.32","31,219.00",15.36
5947,"9545PaviaPointe,Edmond,OK73034","625,000.00",73034,Edmond,4.00,3.00,"3,202.00",0.22,Residential,94715a557,195.19,73102,nan,0.75,"479,470.57","95,137.32","31,219.00",15.36
5807,"1537AparadosWay,Edmond,OK73013","444,900.00",73013,Edmond,4.00,3.00,"2,199.00",0.23,Single-FamilyHome,fdcd793f5,202.32,73102,nan,0.75,"510,444.39","98,100.13","31,732.00",16.09
5806,"317NArcadianOaksDrive,Edmond,OK73034","1,200,000.00",73034,Edmond,4.00,4.00,"3,596.00",5.04,Residential,4cefc3bb7,333.70,73102,nan,1.00,"479,470.57","95,137.32","31,219.00",15.36
5795,"11014GreenMeadowsDrive,Edmond,OK73025","485,000.00",73025,Edmond,5.00,3.10,"3,327.00",0.23,Single-FamilyHome,604842552,145.78,73102,nan,0.62,"603,985.96","144,655.91","6,543.00",92.31

In [47]:
new4[new4['address']=='2433RivenRockRoad,Edmond,OK73034']

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft,devon_zip,geo_distance_km,bed_to_bath_ratio,average_homeprice_byzip,Mean_income,Population,percapitaveragezipprice
3978,"2433RivenRockRoad,Edmond,OK73034","405,000.00",73034,Edmond,3.00,4.00,"2,255.00",0.17,Residential,551b68a41,179.60,73102,21.86,1.33,"479,470.57","95,137.32","31,219.00",15.36

In [48]:
new4.groupby('city')[['price']].mean().sort_values(by='price',ascending=False).head(30)

                                 price
city
Marble City               3,250,000.00
Caddo                     2,200,000.00
Bokchito                  2,200,000.00
Wayne                     2,000,000.00
50                        1,200,000.00
Wilburton                 1,093,125.00
Mounds                    1,090,400.00
Davis                     1,061,666.67
Canton                      999,000.00
Nichols Hills               965,850.00
Foster                      950,000.00
Carlton Landing             916,571.43
Banner                      899,000.00
Stidham                     780,000.00
Rush Springs                775,000.00
Ripley                      759,900.00
Stringtown                  755,000.00
Colcord                     749,999.50
Wister                      728,181.67
Crescent                    725,000.00
Afton                       716,490.00
Goldsby                     699,000.00
Antlers                     688,246.56
Park at Oak Grove           650,000.00
Adair                       607,500.00
Arcadia                     600,000.00
Porter                      577,694.09
Lake Aluma                  575,000.00
Asher                       574,999.00
Broken Bow                  570,382.70

In [49]:
new4[new4['city']=='Big Cabin']

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft,devon_zip,geo_distance_km,bed_to_bath_ratio,average_homeprice_byzip,Mean_income,Population,percapitaveragezipprice
82,"13492N430Road,BigCabin,OK74332","925,000.00",74332,Big Cabin,3.00,2.00,"2,231.00",0.30,Residential,650217006,414.61,73102,237.81,0.67,"555,000.00","53,397.68","1,810.00",306.63
4434,"27250E340Road,BigCabin,OK74332","185,000.00",74332,Big Cabin,2.00,1.00,720.00,10.00,Residential,cba8c869c,256.94,73102,237.81,0.50,"555,000.00","53,397.68","1,810.00",306.63
7845,"1305s4305rd,BigCabin,OK74332","300,000.00",74332,Big Cabin,3.00,2.00,"1,200.00",30.00,FarmAndAgriculture,58007e6d0,250.00,73102,nan,0.67,"555,000.00","53,397.68","1,810.00",306.63

In [50]:
new4.isna().sum()

address                       0
price                         0
zip_code                     26
city                          2
bed_rooms                     0
bath_rooms                    0
sq_ft                         0
lot_size                      0
property_type                 0
unique_id                     0
price_per_sq_ft               0
devon_zip                     0
geo_distance_km            4016
bed_to_bath_ratio             0
average_homeprice_byzip      75
Mean_income                  32
Population                   32
percapitaveragezipprice      81
dtype: int64

In [51]:
##replacing missing values with the median 
new4['geo_distance_km']=new4['geo_distance_km'].fillna(new4['geo_distance_km'].mean())
new4['average_homeprice_byzip']=new4['average_homeprice_byzip'].fillna(new4['average_homeprice_byzip'].median())
new4['Mean_income']=new4['Mean_income'].fillna(new4['Mean_income'].median())
new4['Population']=new4['Population'].fillna(new4['Population'].median())
new4['percapitaveragezipprice']=new4['percapitaveragezipprice'].fillna(new4['percapitaveragezipprice'].median())

In [52]:
##exporting to csv in order to use the medians and averages for new homes on sale 
#new4.to_csv('null.csv',index=False)

In [53]:
new4.head()

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft,devon_zip,geo_distance_km,bed_to_bath_ratio,average_homeprice_byzip,Mean_income,Population,percapitaveragezipprice
0,"3101N.E,50,OklahomaCity,OK73121","1,200,000.00",73121,50,5.00,5.10,"4,834.00",0.30,Single-FamilyHome,528db3a24,248.24,73102,7.73,1.02,"543,571.43","65,579.14","3,159.00",172.07
1,"20685E48thStreetS,BrokenArrow,OK74014","265,000.00",74014,Broken Arrow,3.00,2.00,"1,960.00",0.17,Residential,5b7c45cb9,135.20,73102,174.62,0.67,"277,071.52","75,406.98","22,568.00",12.28
2,"18521FelizDrive,OklahomaCity,OK73012","499,999.00",73012,Oklahoma City,4.00,2.50,"3,141.00",0.30,Single-FamilyHome,efeaa8beb,159.18,73102,17.09,0.62,"393,675.88","98,838.55","13,373.00",29.44
3,"2010SECypressCircle,Bartlesville,OK74006","237,990.00",74006,Bartlesville,3.00,2.00,"1,412.00",0.20,Residential,5dc223a37,168.55,73102,200.70,0.67,"202,828.44","70,988.61","23,892.00",8.49
4,"1704NWOakAve,Lawton,OK73507","107,500.00",73507,Lawton,3.00,2.00,"1,100.00",0.30,Single-FamilyHome,55d5a6eb6,97.73,73102,123.12,0.67,"131,941.56","52,444.33","21,585.00",6.11

In [54]:
a=new4['bed_rooms']>=5 
b=new4['price_per_sq_ft']<130 # less than 130 is the ideal price per square foot for a good deal on a duplex 
c=new4['price']<500000

In [55]:
duplex=new4[a&b&c]

In [56]:
duplex2=duplex[duplex['property_type']=='Other'].sort_index(ascending=False)

In [57]:
duplex2

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft,devon_zip,geo_distance_km,bed_to_bath_ratio,average_homeprice_byzip,Mean_income,Population,percapitaveragezipprice
8174,"218NMarketAvenue,Shawnee,OK74801","385,000.00",74801,Shawnee,6.00,6.00,"5,572.00",0.22,Other,fb21da9a0,69.10,73102,90.12,1.00,"430,623.08","42,960.49","21,590.00",19.95
6913,"4033NWOzmunAvenue,Lawton,OK73505","425,000.00",73505,Lawton,5.00,5.00,"4,250.00",0.24,Other,7b3d4e670,100.00,73102,90.12,1.00,"156,040.15","54,955.03","46,655.00",3.34
6586,"2212SBluestoneStreet,Stillwater,OK74074","295,000.00",74074,Stillwater,6.00,4.00,"3,021.00",0.21,Other,98781a4e0,97.65,73102,90.12,0.67,"234,480.00","51,451.89","25,085.00",9.35
6341,"9909MashburnBoulevard,OklahomaCity,OK73162","214,900.00",73162,Oklahoma City,6.00,4.00,"3,066.00",0.22,Other,51e48659e,70.09,73102,90.12,0.67,"272,632.74","87,698.38","25,521.00",10.68
6081,"15020KyleDrive,OklahomaCity,OK73170","309,000.00",73170,Oklahoma City,6.00,4.00,"2,451.00",0.22,Other,18fb5115f,126.07,73102,90.12,0.67,"310,761.71","89,546.65","21,863.00",14.21
3988,"3930TamariskDrive,OklahomaCity,OK73120","359,000.00",73120,Oklahoma City,5.00,4.00,"3,857.00",0.22,Other,e5ff7f505,93.08,73102,12.96,0.80,"452,696.83","70,537.28","35,661.00",12.69
3885,"213WillowBranchRoad,Norman,OK73072","399,900.00",73072,Norman,6.00,4.00,"3,430.00",0.22,Other,69f5423a0,116.59,73102,30.60,0.67,"398,664.25","99,280.56","37,848.00",10.53
2903,"5808NW41stStreet,WarrAcres,OK73122","25,000.00",73122,Warr Acres,6.00,4.00,"4,028.00",0.25,Other,d006102d9,6.21,73102,10.14,0.67,"105,770.00","51,210.20","13,107.00",8.07
1237,"605NW176thStreet,OklahomaCity,OK73012","479,900.00",73012,Oklahoma City,8.00,6.00,"3,913.00",0.26,Other,4e2fe6127,122.64,73102,17.09,0.75,"393,675.88","98,838.55","13,373.00",29.44
1072,"1119E36thStreet,Tulsa,OK74105","200,000.00",74105,Tulsa,6.00,4.00,"3,160.00",0.30,Other,8ab5fe492,63.29,73102,156.35,0.67,"537,839.99","73,332.98","28,717.00",18.73
612,"9905MashburnBoulevard,OklahomaCity,OK73162","214,900.00",73162,Oklahoma City,6.00,4.00,"3,160.00",0.26,Other,a6d7c1719,68.01,73102,16.31,0.67,"272,632.74","87,698.38","25,521.00",10.68
605,"9901MashburnBoulevard,OklahomaCity,OK73162","214,900.00",73162,Oklahoma City,5.00,4.00,"1,719.00",0.26,Other,8a7bb1462,125.01,73102,16.31,0.80,"272,632.74","87,698.38","25,521.00",10.68

In [58]:
##saving the duplex to compare and see when there are new ones. 
#duplex2.to_csv('duplex.csv',index=False)

In [59]:
fb21da9a0
98781a4e0
d006102d9

SyntaxError: invalid syntax (<ipython-input-59-6b56f3f49c10>, line 2)

In [ ]:
duplex2[duplex2['unique_id'].isin(['fb21da9a0','98781a4e0','d006102d9'])]