In [105]:
import pandas as pd 
import numpy as np 
import sqlite3

In [106]:
##creating a new sqllite database
conn = sqlite3.connect('oklahoma_homes_sale.db')

In [107]:
query3=("""\
SELECT * FROM homes
               """)

In [108]:
new1=pd.read_sql(query3, conn)

In [109]:
new1.shape

(8570, 10)

In [111]:
##use this to see if update strategy worked##figureout why some of these houses are showing wrong prices 
new1[new1['unique_id']=='789f5075e']

Empty DataFrame
Columns: [address, price, zip_code, city, bed_rooms, bath_rooms, sq_ft, lot_size, property_type, unique_id]
Index: []

In [7]:
new1.head()

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id
0,"3101N.E,50,OklahomaCity,OK73121",1200000.0,73121,50,5.0,5.1,4834.0,0.304,Single-FamilyHome,528db3a24
1,"20685E48thStreetS,BrokenArrow,OK74014",265000.0,74014,Broken Arrow,3.0,2.0,1960.0,0.172,Residential,5b7c45cb9
2,"18521FelizDrive,OklahomaCity,OK73012",499999.0,73012,Oklahoma City,4.0,2.5,3141.0,0.304,Single-FamilyHome,efeaa8beb
3,"2010SECypressCircle,Bartlesville,OK74006",237990.0,74006,Bartlesville,3.0,2.0,1412.0,0.202,Residential,5dc223a37
4,"1704NWOakAve,Lawton,OK73507",107500.0,73507,Lawton,3.0,2.0,1100.0,0.304,Single-FamilyHome,55d5a6eb6

In [8]:
## replacing properties with sq_ft less than 50 with the median sqft

In [9]:
def sq_ft(x):
    if x<50:
        return np.nan
    else: 
        return x

In [10]:
new1['sq_ft']=new1['sq_ft'].apply(sq_ft)

In [11]:
new1['sq_ft']=new1['sq_ft'].fillna(new1['sq_ft'].median())

In [12]:
##removing spaces from city to allow for filtering. 
new1['city']=new1['city'].str.strip()

In [13]:
new1['price_per_sq_ft']=new1['price']/new1['sq_ft']

In [14]:
new1.head()

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft
0,"3101N.E,50,OklahomaCity,OK73121",1200000.0,73121,50,5.0,5.1,4834.0,0.304,Single-FamilyHome,528db3a24,248.241622
1,"20685E48thStreetS,BrokenArrow,OK74014",265000.0,74014,Broken Arrow,3.0,2.0,1960.0,0.172,Residential,5b7c45cb9,135.204082
2,"18521FelizDrive,OklahomaCity,OK73012",499999.0,73012,Oklahoma City,4.0,2.5,3141.0,0.304,Single-FamilyHome,efeaa8beb,159.184655
3,"2010SECypressCircle,Bartlesville,OK74006",237990.0,74006,Bartlesville,3.0,2.0,1412.0,0.202,Residential,5dc223a37,168.548159
4,"1704NWOakAve,Lawton,OK73507",107500.0,73507,Lawton,3.0,2.0,1100.0,0.304,Single-FamilyHome,55d5a6eb6,97.727273

In [15]:
new1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8435 entries, 0 to 8434
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   address          8435 non-null   object
 1   price            8435 non-null   float64
 2   zip_code         8409 non-null   object
 3   city             8433 non-null   object
 4   bed_rooms        8435 non-null   float64
 5   bath_rooms       8435 non-null   float64
 6   sq_ft            8435 non-null   float64
 7   lot_size         8435 non-null   float64
 8   property_type    8435 non-null   object
 9   unique_id        8435 non-null   object
 10  price_per_sq_ft  8435 non-null   float64
dtypes: float64(6), object(5)
memory usage: 725.0+ KB

In [16]:
new1[new1['city']=='Blanchard']

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft
8,"203E.Broadway,Blanchard,OK73010",171900.0,73010,Blanchard,5.0,2.0,1560.0,0.010,Residential,e72632216,110.192308
46,"516CedarDrive,Blanchard,OK73010",899000.0,73010,Blanchard,4.0,4.0,3959.0,2.170,Residential,45dc85cb8,227.077545
321,"2481CountyRoad1322,Blanchard,OK73010",265000.0,73010,Blanchard,3.0,3.0,2328.0,1.620,Residential,096a91cb8,113.831615
402,"2008Ethan'sRoarRoad,Blanchard,OK73010",253790.0,73010,Blanchard,3.0,2.0,1526.0,1.330,Residential,0e7dd2f9d,166.310616
460,"CountyRoad1322,Blanchard,OK73010",140000.0,73010,Blanchard,5.0,2.0,1560.0,0.010,Residential,716521d6c,89.743590
551,"1208CountyStreet2975,Blanchard,OK73010",55000.0,73010,Blanchard,2.0,1.0,1024.0,0.260,Single-FamilyHome,6c55cfac6,53.710938
564,"1200Countystreet2975,Blanchard,OK73010",55000.0,73010,Blanchard,4.0,2.0,1766.0,0.124,Residential,f659bb95f,31.143828
701,"2412AliceLane,Blanchard,OK73010",65000.0,73010,Blanchard,4.0,2.0,1796.0,0.270,Residential,fb24d68eb,36.191537
721,"1201CountyStreet2975,Blanchard,OK73010",55000.0,73010,Blanchard,3.0,3.0,3134.0,0.161,Residential,389b9504c,17.549458
723,"1436CountyStreet2977,Blanchard,OK73010",65000.0,73010,Blanchard,2.0,2.0,980.0,20.000,Residential,cadb70463,66.326531
725,"1220CountyStreet2975,Blanchard,OK73010",55000.0,73010,Blanchard,3.0,1.5,1140.0,0.270,Single-FamilyHome,05a781ce1,48.245614
777,"2414CountyStreet2985,Blanchard,OK73010",265000.0,73010,Blanchard,3.0,2.0,1887.0,8.600,Residential,285d225ce,140.434552
874,"2314CountyRoad1336,Blanchard,OK73010",237000.0,73010,Blanchard,3.0,2.0,1454.0,1.420,Residential,8d31ca24c,162.998624
959,"1417CountyStreet2977,Blanchard,OK73010",475500.0,73010,Blanchard,4.0,3.0,2643.0,0.990,Residential,7d9bbf4c9,179.909194
1010,"431LocustGroveRoad,Blanchard,OK73010",309000.0,73010,Blanchard,3.0,2.0,1843.0,0.980,Residential,237619b93,167.661422
1019,"1027CedarDrive,Blanchard,OK73010",385000.0,73010,Blanchard,3.0,2.0,1874.0,5.280,Residential,a7ba4960c,205.442903
1070,"207STylerAve,Blanchard,OK73010",275000.0,73010,Blanchard,3.0,2.0,1429.0,0.261,Residential,35f0fa5c1,192.442267
1147,"2305CountyRd1327,Blanchard,OK73010",231400.0,73010,Blanchard,3.0,2.0,1384.0,0.751,Residential,7cb4a1141,167.196532
1984,"1481TownsendGlen,Blanchard,OK73010",329900.0,73010,Blanchard,4.0,2.0,2012.0,0.929,Residential,fa8f43192,163.966203
2016,"1960StateHighway39,Blanchard,OK73010",1200000.0,73010,Blanchard,3.0,2.0,1550.0,0.298,Residential,2628373eb,774.193548
2154,"11767220thStreet,Blanchard,OK73010",160000.0,73010,Blanchard,3.0,2.0,1631.0,2.000,Residential,d286a95d2,98.099326
2223,"1428CountyStreet2964Street,Blanchard,OK73010",285000.0,73010,Blanchard,3.0,2.0,1751.0,2.500,Residential,353d971a5,162.764135
2539,"2358CountyRoad1257,Blanchard,OK73010",65990.0,73010,Blanchard,3.0,3.0,3218.0,1.260,Residential,f384b607d,20.506526
4251,"2300RosewoodLane,Blanchard,OK73010",100000.0,73010,Blanchard,2.0,2.0,1008.0,1.390,Residential,93869c962,99.206349
4655,"7985HilltopLane,Blanchard,OK73010",515000.0,73010,Blanchard,3.0,4.0,2904.0,2.500,Residential,c5df1696c,177.341598
4709,"1379CountyStreet2977,Blanchard,OK73010",380000.0,73010,Blanchard,4.0,2.0,2030.0,1.010,Residential,d0a304bb8,187.192118
5691,"917NVanBurenAvenue,Blanchard,OK73010",287000.0,73010,Blanchard,3.0,4.0,2744.0,0.230,Residential,4814e5ee9,104.591837
5717,"2157CountyStreet2971,Blanchard,OK73010",299900.0,73010,Blanchard,4.0,2.0,1874.0,1.230,Residential,c71915d7e,160.032017
6172,"1374CountyStreet2976Street,Blanchard,OK73010",425000.0,73010,Blanchard,3.0,2.0,1858.0,1.010,Residential,2be7330f3,228.740581
6471,"12878260thStreet,Blanchard,OK73010",470000.0,73010,Blanchard,4.0,2.0,2256.0,7.000,Residential,8eadd8e87,208.333333
6475,"2216CountySt2976,Blanchard,OK73010",225000.0,73010,Blanchard,3.0,2.0,1384.0,0.750,Residential,af2b57d3f,162.572254
8285,"1072CountyStreet2966,Blanchard,OK73010",452200.0,73010,Blanchard,4.0,3.0,2380.0,1.000,Residential,2ebb03cee,190.000000

In [17]:
new1[new1['address'].str.contains('fox')]

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft
1255,"1696StrayfoxCrossing,OklahomaCity,OK73012",299999.0,73012,Oklahoma City,3.0,3.0,2173.0,0.26,Residential,e5ac068c1,138.057524

In [18]:
#kayla=pd.read_csv("blachard.csv")

In [19]:
##getting rid of the properties that had wierd prices associated with them  
a=new1['price']>100000
b=new1['price_per_sq_ft']>30

In [20]:
new2=new1[a&b]

In [21]:
##new3[new3['price_per_sq_ft']<60].sort_values('price_per_sq_ft',ascending=False)

In [22]:
new2[new2['unique_id'].isin(['34f64cdc8','cc78ccfde','77ff34515','e2099206e','14c5ebcf8'])]

Empty DataFrame
Columns: [address, price, zip_code, city, bed_rooms, bath_rooms, sq_ft, lot_size, property_type, unique_id, price_per_sq_ft]
Index: []

In [23]:
#new2=new2.drop(['price_per_sq_ft'],axis=1)

In [24]:
#new2=kayla.copy()

In [25]:
#new2.head()

In [26]:
#new2['zip_code']=new2['zip_code'].astype('object')

In [27]:
#new2.info()

In [28]:
#devon tower zipcode
##73102

In [29]:
new2['zip_code']=new2['zip_code'].str.replace(' ','')

<ipython-input-29-7d2f9c14d852>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new2['zip_code']=new2['zip_code'].str.replace(' ','')

In [30]:
#calculating distance between two zipcodes
import pgeocode
#Geographical distance is the distance measured along the surface of the earth. 
#The formulae  calculate distances between points which are defined by geographical coordinates in 
#terms of latitude and longitude. This distance is an element in solving the second (inverse) geodetic problem.
dist=pgeocode.GeoDistance('US')
#adding OU medical center distance to our datafame 
new2['devon_zip']='73102'
new2['geo_distance_km']=dist.query_postal_code(new2['zip_code'].to_list(),new2['devon_zip'].to_list())

<ipython-input-30-0ba4f7c071fb>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new2['devon_zip']='73102'
<ipython-input-30-0ba4f7c071fb>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new2['geo_distance_km']=dist.query_postal_code(new2['zip_code'].to_list(),new2['devon_zip'].to_list())

In [31]:
new2.head()

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft,devon_zip,geo_distance_km
0,"3101N.E,50,OklahomaCity,OK73121",1200000.0,73121,50,5.0,5.1,4834.0,0.304,Single-FamilyHome,528db3a24,248.241622,73102,7.726523
1,"20685E48thStreetS,BrokenArrow,OK74014",265000.0,74014,Broken Arrow,3.0,2.0,1960.0,0.172,Residential,5b7c45cb9,135.204082,73102,174.615563
2,"18521FelizDrive,OklahomaCity,OK73012",499999.0,73012,Oklahoma City,4.0,2.5,3141.0,0.304,Single-FamilyHome,efeaa8beb,159.184655,73102,17.085296
3,"2010SECypressCircle,Bartlesville,OK74006",237990.0,74006,Bartlesville,3.0,2.0,1412.0,0.202,Residential,5dc223a37,168.548159,73102,200.698157
4,"1704NWOakAve,Lawton,OK73507",107500.0,73507,Lawton,3.0,2.0,1100.0,0.304,Single-FamilyHome,55d5a6eb6,97.727273,73102,123.115383

In [32]:
##bedroom to bathroom ratio 
new2['bed_to_bath_ratio']=new2['bath_rooms']/new2['bed_rooms']

<ipython-input-32-a9e44047c89b>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new2['bed_to_bath_ratio']=new2['bath_rooms']/new2['bed_rooms']

In [33]:
#adding average price by zipcode 
#average_price_byzipcode=new2.groupby('zip_code')[['price']].mean().reset_index().rename({'price':'average_homeprice_byzip'},axis=1)

In [34]:
#adding average price by zipcode 
median_price_byzipcode=new2.groupby('zip_code')[['price']].median().reset_index().rename({'price':'median_homeprice_byzip'},axis=1)

In [35]:
median_price_byzipcode

    zip_code  median_homeprice_byzip
0      73003                272500.0
1      73005                189900.0
2      73006                179500.0
3      73007                512840.0
4      73008                185000.0
..       ...                     ...
342    74963                119500.0
343    74964                216000.0
344    74965                134000.0
345    74966                425000.0
346     ogah                320000.0

[347 rows x 2 columns]

In [36]:
#adding census zipcode data
zip_census=pd.read_excel(r'C:\Users\arnie\Desktop\OU health stuff\zip_stats.xlsx')

In [37]:
zip_census.columns=zip_census.columns.str.replace(' ', '')

In [38]:
zip_census.head()

   AddressZipCode  Median_income Mean_income  Population
0            1001     56662.5735     66687.8       16445
1            1002     49853.4177     75062.6       28069
2            1003     28462.0000       35121        8491
3            1005     75423.0000       82442        4798
4            1007     79076.3540       85802       12962

In [39]:
#zip_census=zip_census.drop('Median_income',axis=1)

In [40]:
zip_census=zip_census.drop('Mean_income',axis=1)

In [41]:
zip_census=zip_census.rename({'AddressZipCode':'zip_code'},axis=1)

In [42]:
##merging 
new3=new2.merge(median_price_byzipcode,on='zip_code',how='left')

In [43]:
zip_census['zip_code'].astype(str)

0         1001
1         1002
2         1003
3         1005
4         1007
         ...
32629    99923
32630    99925
32631    99926
32632    99927
32633    99929
Name: zip_code, Length: 32634, dtype: object

In [44]:
zip_census['zip_code']=zip_census['zip_code'].astype(str)

In [45]:
new4=new3.merge(zip_census,on='zip_code',how='left')

In [46]:
new4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7314 entries, 0 to 7313
Data columns (total 17 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   address                 7314 non-null   object
 1   price                   7314 non-null   float64
 2   zip_code                7293 non-null   object
 3   city                    7312 non-null   object
 4   bed_rooms               7314 non-null   float64
 5   bath_rooms              7314 non-null   float64
 6   sq_ft                   7314 non-null   float64
 7   lot_size                7314 non-null   float64
 8   property_type           7314 non-null   object
 9   unique_id               7314 non-null   object
 10  price_per_sq_ft         7314 non-null   float64
 11  devon_zip               7314 non-null   object
 12  geo_distance_km         7292 non-null   float64
 13  bed_to_bath_ratio       7314 non-null   float64
 14  median_homeprice_byzip  7293 non-null   float64
 15  Median_income           7292 non-null   float64
 16  Population              7292 non-null   float64
dtypes: float64(11), object(6)
memory usage: 1.0+ MB

In [47]:
new4.columns

Index(['address', 'price', 'zip_code', 'city', 'bed_rooms', 'bath_rooms',
       'sq_ft', 'lot_size', 'property_type', 'unique_id', 'price_per_sq_ft',
       'devon_zip', 'geo_distance_km', 'bed_to_bath_ratio',
       'median_homeprice_byzip', 'Median_income', 'Population'],
      dtype='object')

In [48]:
#new4['Mean_income']=new4['Mean_income'].astype('float')

In [49]:
new4.head()

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft,devon_zip,geo_distance_km,bed_to_bath_ratio,median_homeprice_byzip,Median_income,Population
0,"3101N.E,50,OklahomaCity,OK73121",1200000.0,73121,50,5.0,5.1,4834.0,0.304,Single-FamilyHome,528db3a24,248.241622,73102,7.726523,1.020000,475000.0,49578.9497,3159.0
1,"20685E48thStreetS,BrokenArrow,OK74014",265000.0,74014,Broken Arrow,3.0,2.0,1960.0,0.172,Residential,5b7c45cb9,135.204082,73102,174.615563,0.666667,315000.0,67259.7541,22568.0
2,"18521FelizDrive,OklahomaCity,OK73012",499999.0,73012,Oklahoma City,4.0,2.5,3141.0,0.304,Single-FamilyHome,efeaa8beb,159.184655,73102,17.085296,0.625000,307900.0,86655.9436,13373.0
3,"2010SECypressCircle,Bartlesville,OK74006",237990.0,74006,Bartlesville,3.0,2.0,1412.0,0.202,Residential,5dc223a37,168.548159,73102,200.698157,0.666667,235990.0,55052.9411,23892.0
4,"1704NWOakAve,Lawton,OK73507",107500.0,73507,Lawton,3.0,2.0,1100.0,0.304,Single-FamilyHome,55d5a6eb6,97.727273,73102,123.115383,0.666667,224950.0,45882.9925,21585.0

In [50]:
#new4['percapitaveragezipprice']=new4['average_homeprice_byzip']/new4['Population']

In [51]:
new4['percapitmedianzipprice']=new4['median_homeprice_byzip']/new4['Population']

In [52]:
new4.corr()['price'].sort_values(ascending=False)

price                     1.000000
sq_ft                     0.685304
bath_rooms                0.616013
bed_to_bath_ratio         0.437293
median_homeprice_byzip    0.387382
bed_rooms                 0.385857
price_per_sq_ft           0.250446
Median_income             0.170462
percapitmedianzipprice    0.168362
lot_size                  0.160114
geo_distance_km           0.017982
Population               -0.066893
Name: price, dtype: float64

In [53]:
##trying to add distance to down town using geopy

In [54]:
##tomorrow start by building a predictive model and analyze furtheref

In [55]:
pd.options.display.float_format = '{:20,.2f}'.format

In [56]:
new4.head()

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft,devon_zip,geo_distance_km,bed_to_bath_ratio,median_homeprice_byzip,Median_income,Population,percapitmedianzipprice
0,"3101N.E,50,OklahomaCity,OK73121","1,200,000.00",73121,50,5.00,5.10,"4,834.00",0.30,Single-FamilyHome,528db3a24,248.24,73102,7.73,1.02,"475,000.00","49,578.95","3,159.00",150.36
1,"20685E48thStreetS,BrokenArrow,OK74014","265,000.00",74014,Broken Arrow,3.00,2.00,"1,960.00",0.17,Residential,5b7c45cb9,135.20,73102,174.62,0.67,"315,000.00","67,259.75","22,568.00",13.96
2,"18521FelizDrive,OklahomaCity,OK73012","499,999.00",73012,Oklahoma City,4.00,2.50,"3,141.00",0.30,Single-FamilyHome,efeaa8beb,159.18,73102,17.09,0.62,"307,900.00","86,655.94","13,373.00",23.02
3,"2010SECypressCircle,Bartlesville,OK74006","237,990.00",74006,Bartlesville,3.00,2.00,"1,412.00",0.20,Residential,5dc223a37,168.55,73102,200.70,0.67,"235,990.00","55,052.94","23,892.00",9.88
4,"1704NWOakAve,Lawton,OK73507","107,500.00",73507,Lawton,3.00,2.00,"1,100.00",0.30,Single-FamilyHome,55d5a6eb6,97.73,73102,123.12,0.67,"224,950.00","45,882.99","21,585.00",10.42

In [57]:
new4[new4['city']=='Edmond'].sort_index(ascending=False).head(30)

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft,devon_zip,geo_distance_km,bed_to_bath_ratio,median_homeprice_byzip,Median_income,Population,percapitmedianzipprice
7248,"909HuntsmanRoad,Edmond,OK73003","349,000.00",73003,Edmond,4.00,3.00,"3,331.00",0.60,Residential,beba26fff,104.77,73102,22.56,0.75,"272,500.00","54,814.30","16,601.00",16.41
7125,"1209NayAvenue,Edmond,OK73034","329,000.00",73034,Edmond,3.00,2.00,"1,833.00",0.16,Residential,e450f0080,179.49,73102,21.86,0.67,"442,620.00","71,515.79","31,219.00",14.18
5397,"1632SavannahLane,Edmond,OK73003","270,000.00",73003,Edmond,4.00,2.00,"1,837.00",0.17,Residential,774d707ef,146.98,73102,22.56,0.50,"272,500.00","54,814.30","16,601.00",16.41
5396,"10201WeathersBrookLane,Edmond,OK73025","650,000.00",73025,Edmond,3.00,3.00,"3,335.00",5.05,Residential,736a1bb88,194.90,73102,27.74,1.00,"489,000.00","99,918.64","6,543.00",74.74
5395,"3108AshGroveRoad,Edmond,OK73003","427,000.00",73003,Edmond,3.00,3.00,"2,790.00",0.21,Residential,5abdaa325,153.05,73102,22.56,1.00,"272,500.00","54,814.30","16,601.00",16.41
5394,"4704ShadowCreekDrive,Edmond,OK73034","765,000.00",73034,Edmond,4.00,4.00,"3,092.00",2.16,Residential,e87d47bf3,247.41,73102,21.86,1.00,"442,620.00","71,515.79","31,219.00",14.18
5393,"10600SorentinoDrive,Edmond,OK73007","1,350,000.00",73007,Edmond,4.00,5.00,"4,523.00",9.44,Residential,d49ae7810,298.47,73102,26.86,1.25,"512,840.00","81,230.78","1,673.00",306.54
5392,"707InveraryDrive,Edmond,OK73025","384,000.00",73025,Edmond,3.00,3.00,"3,046.00",0.11,Residential,935c96d6a,126.07,73102,27.74,1.00,"489,000.00","99,918.64","6,543.00",74.74
5391,"1600DuxsfordCourt,Edmond,OK73034","975,000.00",73034,Edmond,6.00,7.00,"5,419.00",1.50,Residential,c1243a282,179.92,73102,21.86,1.17,"442,620.00","71,515.79","31,219.00",14.18
5255,"917GatewayBridgeRoad,Edmond,OK73034","669,900.00",73034,Edmond,4.00,4.00,"3,191.00",0.28,Residential,82124f7a1,209.93,73102,21.86,1.00,"442,620.00","71,515.79","31,219.00",14.18
5254,"1819OakForestDrive,Edmond,OK73025","799,900.00",73025,Edmond,4.00,4.00,"3,507.00",0.61,Residential,0f9c018eb,228.09,73102,27.74,1.00,"489,000.00","99,918.64","6,543.00",74.74
5253,"2610ElwoodDrive,Edmond,OK73013","299,000.00",73013,Edmond,4.00,4.00,"2,200.00",0.22,Other,590531d9c,135.91,73102,17.09,1.00,"325,000.00","72,051.32","31,732.00",10.24
5252,"1409PaseoBridgeCourt,Edmond,OK73034","697,900.00",73034,Edmond,4.00,4.00,"3,295.00",0.28,Residential,dca8c23f1,211.81,73102,21.86,1.00,"442,620.00","71,515.79","31,219.00",14.18
5251,"4908CoronadoBridgeCourt,Edmond,OK73034","600,000.00",73034,Edmond,4.00,4.00,"3,071.00",0.36,Residential,179499552,195.38,73102,21.86,1.00,"442,620.00","71,515.79","31,219.00",14.18
5250,"2917FairfieldDrive,Edmond,OK73012","285,737.00",73012,Edmond,3.00,2.00,"2,047.00",0.33,Residential,34ee8b477,139.59,73102,17.09,0.67,"307,900.00","86,655.94","13,373.00",23.02
5249,"4425ManOWarDrive,Edmond,OK73025","536,137.00",73025,Edmond,5.00,4.00,"3,927.00",0.25,Residential,5cf3fc72b,136.53,73102,27.74,0.80,"489,000.00","99,918.64","6,543.00",74.74
5248,"2801MesquiteLane,Edmond,OK73034","625,000.00",73034,Edmond,4.00,4.00,"3,430.00",0.26,Residential,7e652ffe7,182.22,73102,21.86,1.00,"442,620.00","71,515.79","31,219.00",14.18
5239,"3716WinnersCircle,Edmond,OK73034","398,000.00",73034,Edmond,4.00,3.00,"2,416.00",0.22,Single-FamilyHome,edc1b1646,164.74,73102,21.86,0.75,"442,620.00","71,515.79","31,219.00",14.18
5154,"1416KerryLayne,Edmond,OK73034","555,000.00",73034,Edmond,4.00,4.00,"3,353.00",0.44,Residential,0099ce9a7,165.52,73102,21.86,1.00,"442,620.00","71,515.79","31,219.00",14.18
5153,"516HarrierHawk,Edmond,OK73003","295,500.00",73003,Edmond,3.00,2.00,"2,015.00",0.20,Residential,6fc3c3441,146.65,73102,22.56,0.67,"272,500.00","54,814.30","16,601.00",16.41
5152,"1605TurtlecreekRoad,Edmond,OK73013","489,900.00",73013,Edmond,4.00,3.00,"3,455.00",0.22,Residential,7fe57d716,141.79,73102,17.09,0.75,"325,000.00","72,051.32","31,732.00",10.24
5151,"916E11thStreet,Edmond,OK73034","450,000.00",73034,Edmond,4.00,4.00,"2,746.00",0.31,Residential,a6b2d3216,163.87,73102,21.86,1.00,"442,620.00","71,515.79","31,219.00",14.18
5150,"1109FlorenceDrive,Edmond,OK73034","135,000.00",73034,Edmond,2.00,1.00,828.00,0.14,Residential,a2c447265,163.04,73102,21.86,0.50,"442,620.00","71,515.79","31,219.00",14.18
5149,"823FrancisLane,Edmond,OK73034","349,900.00",73034,Edmond,4.00,3.00,"2,281.00",0.31,Residential,66068e274,153.40,73102,21.86,0.75,"442,620.00","71,515.79","31,219.00",14.18
5144,"1916RushingMeadows,Edmond,OK73013","220,000.00",73013,Edmond,3.00,2.00,"1,717.00",0.22,Single-FamilyHome,7c0447b94,128.13,73102,17.09,0.67,"325,000.00","72,051.32","31,732.00",10.24
5037,"423BentonRoad,Edmond,OK73034","189,900.00",73034,Edmond,3.00,2.00,"1,234.00",0.14,Residential,0d8ad3c68,153.89,73102,21.86,0.67,"442,620.00","71,515.79","31,219.00",14.18
5036,"9545PaviaPointe,Edmond,OK73034","625,000.00",73034,Edmond,4.00,3.00,"3,202.00",0.22,Residential,94715a557,195.19,73102,21.86,0.75,"442,620.00","71,515.79","31,219.00",14.18
4908,"1537AparadosWay,Edmond,OK73013","444,900.00",73013,Edmond,4.00,3.00,"2,199.00",0.23,Single-FamilyHome,fdcd793f5,202.32,73102,17.09,0.75,"325,000.00","72,051.32","31,732.00",10.24
4907,"317NArcadianOaksDrive,Edmond,OK73034","1,200,000.00",73034,Edmond,4.00,4.00,"3,596.00",5.04,Residential,4cefc3bb7,333.70,73102,21.86,1.00,"442,620.00","71,515.79","31,219.00",14.18
4896,"11014GreenMeadowsDrive,Edmond,OK73025","485,000.00",73025,Edmond,5.00,3.10,"3,327.00",0.23,Single-FamilyHome,604842552,145.78,73102,27.74,0.62,"489,000.00","99,918.64","6,543.00",74.74

In [58]:
new4[new4['address']=='2433RivenRockRoad,Edmond,OK73034']

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft,devon_zip,geo_distance_km,bed_to_bath_ratio,median_homeprice_byzip,Median_income,Population,percapitmedianzipprice
3232,"2433RivenRockRoad,Edmond,OK73034","405,000.00",73034,Edmond,3.00,4.00,"2,255.00",0.17,Residential,551b68a41,179.60,73102,21.86,1.33,"442,620.00","71,515.79","31,219.00",14.18

In [59]:
new4.groupby('city')[['price']].mean().sort_values(by='price',ascending=False).head(30)

                               price
city
Wilburton               4,200,000.00
Marble City             3,250,000.00
Caddo                   2,200,000.00
Bokchito                2,200,000.00
Wayne                   2,000,000.00
Wister                  1,403,333.33
Crescent                1,390,000.00
50                      1,200,000.00
Antlers                 1,180,600.00
Mangum                  1,128,000.00
Mounds                  1,090,400.00
Davis                   1,061,666.67
Muse                    1,040,000.00
Canton                    999,000.00
Nichols Hills             965,850.00
Foster                    950,000.00
Carlton Landing           916,571.43
Banner                    899,000.00
Afton                     840,547.06
Sperry                    835,000.00
Stidham                   780,000.00
Rush Springs              775,000.00
Ripley                    759,900.00
Stringtown                755,000.00
Colcord                   749,999.50
Mannford                  732,600.00
Ramona                    699,900.00
Goldsby                   699,000.00
Porter                    686,737.22
Skiatook                  684,220.78

In [60]:
new4[new4['city']=='Big Cabin']

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft,devon_zip,geo_distance_km,bed_to_bath_ratio,median_homeprice_byzip,Median_income,Population,percapitmedianzipprice
68,"13492N430Road,BigCabin,OK74332","925,000.00",74332,Big Cabin,3.00,2.00,"2,231.00",0.30,Residential,650217006,414.61,73102,237.81,0.67,"300,000.00","47,074.85","1,810.00",165.75
3616,"27250E340Road,BigCabin,OK74332","185,000.00",74332,Big Cabin,2.00,1.00,720.00,10.00,Residential,cba8c869c,256.94,73102,237.81,0.50,"300,000.00","47,074.85","1,810.00",165.75
6777,"1305s4305rd,BigCabin,OK74332","300,000.00",74332,Big Cabin,3.00,2.00,"1,200.00",30.00,FarmAndAgriculture,58007e6d0,250.00,73102,237.81,0.67,"300,000.00","47,074.85","1,810.00",165.75

In [61]:
new4.isna().sum()

address                    0
price                      0
zip_code                  21
city                       2
bed_rooms                  0
bath_rooms                 0
sq_ft                      0
lot_size                   0
property_type              0
unique_id                  0
price_per_sq_ft            0
devon_zip                  0
geo_distance_km           22
bed_to_bath_ratio          0
median_homeprice_byzip    21
Median_income             22
Population                22
percapitmedianzipprice    22
dtype: int64

In [62]:
##replacing missing values with the median 
new4['geo_distance_km']=new4['geo_distance_km'].fillna(new4['geo_distance_km'].mean())
new4['median_homeprice_byzip']=new4['median_homeprice_byzip'].fillna(new4['median_homeprice_byzip'].median())
new4['Median_income']=new4['Median_income'].fillna(new4['Median_income'].median())
new4['Population']=new4['Population'].fillna(new4['Population'].median())
new4['percapitmedianzipprice']=new4['percapitmedianzipprice'].fillna(new4['percapitmedianzipprice'].median())

In [63]:
##exporting to csv in order to use the medians and averages for new homes on sale 
#new4.to_csv('null.csv',index=False)

In [64]:
new5=new4.dropna()

In [65]:
new5.head()

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft,devon_zip,geo_distance_km,bed_to_bath_ratio,median_homeprice_byzip,Median_income,Population,percapitmedianzipprice
0,"3101N.E,50,OklahomaCity,OK73121","1,200,000.00",73121,50,5.00,5.10,"4,834.00",0.30,Single-FamilyHome,528db3a24,248.24,73102,7.73,1.02,"475,000.00","49,578.95","3,159.00",150.36
1,"20685E48thStreetS,BrokenArrow,OK74014","265,000.00",74014,Broken Arrow,3.00,2.00,"1,960.00",0.17,Residential,5b7c45cb9,135.20,73102,174.62,0.67,"315,000.00","67,259.75","22,568.00",13.96
2,"18521FelizDrive,OklahomaCity,OK73012","499,999.00",73012,Oklahoma City,4.00,2.50,"3,141.00",0.30,Single-FamilyHome,efeaa8beb,159.18,73102,17.09,0.62,"307,900.00","86,655.94","13,373.00",23.02
3,"2010SECypressCircle,Bartlesville,OK74006","237,990.00",74006,Bartlesville,3.00,2.00,"1,412.00",0.20,Residential,5dc223a37,168.55,73102,200.70,0.67,"235,990.00","55,052.94","23,892.00",9.88
4,"1704NWOakAve,Lawton,OK73507","107,500.00",73507,Lawton,3.00,2.00,"1,100.00",0.30,Single-FamilyHome,55d5a6eb6,97.73,73102,123.12,0.67,"224,950.00","45,882.99","21,585.00",10.42

In [66]:
new5['city'].value_counts().head(30)

Oklahoma City    1895
Tulsa            1038
Edmond            556
Norman            444
Broken Arrow      373
Lawton            250
Moore             222
Midwest City      146
Claremore         116
Owasso             98
Stillwater         97
Shawnee            93
Yukon              80
Bixby              67
Piedmont           64
Elgin              61
Jenks              61
Choctaw            58
Mustang            51
Del City           48
Bartlesville       46
Coweta             43
Collinsville       41
Newcastle          40
Enid               39
Sand Springs       39
Catoosa            35
El Reno            33
Broken Bow         33
McLoud             32
Name: city, dtype: int64

In [67]:
##categorical variables for city 
def city (x):
    if x=='Oklahoma City':
        return 'OKC'
    if x=='Tulsa':
        return 'Tulsa'
    if x=='Edmond':
        return 'Edmond'
    if x=='Norman':
        return 'Norman'
    if x=='Lawton':
        return 'Lawton'
    if x=='Broken Arrow':
        return 'BrokenArrow'
    if x=='Moore':
        return 'Moore'
    
    else:
        return 'other'

In [68]:
new5['city']=new5['city'].apply(city)

<ipython-input-68-a182871efec4>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new5['city']=new5['city'].apply(city)

In [69]:
new5.head()

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft,devon_zip,geo_distance_km,bed_to_bath_ratio,median_homeprice_byzip,Median_income,Population,percapitmedianzipprice
0,"3101N.E,50,OklahomaCity,OK73121","1,200,000.00",73121,other,5.00,5.10,"4,834.00",0.30,Single-FamilyHome,528db3a24,248.24,73102,7.73,1.02,"475,000.00","49,578.95","3,159.00",150.36
1,"20685E48thStreetS,BrokenArrow,OK74014","265,000.00",74014,BrokenArrow,3.00,2.00,"1,960.00",0.17,Residential,5b7c45cb9,135.20,73102,174.62,0.67,"315,000.00","67,259.75","22,568.00",13.96
2,"18521FelizDrive,OklahomaCity,OK73012","499,999.00",73012,OKC,4.00,2.50,"3,141.00",0.30,Single-FamilyHome,efeaa8beb,159.18,73102,17.09,0.62,"307,900.00","86,655.94","13,373.00",23.02
3,"2010SECypressCircle,Bartlesville,OK74006","237,990.00",74006,other,3.00,2.00,"1,412.00",0.20,Residential,5dc223a37,168.55,73102,200.70,0.67,"235,990.00","55,052.94","23,892.00",9.88
4,"1704NWOakAve,Lawton,OK73507","107,500.00",73507,Lawton,3.00,2.00,"1,100.00",0.30,Single-FamilyHome,55d5a6eb6,97.73,73102,123.12,0.67,"224,950.00","45,882.99","21,585.00",10.42

In [70]:
new5['city'].value_counts().head(30)

other          2513
OKC            1895
Tulsa          1038
Edmond          556
Norman          444
BrokenArrow     373
Lawton          250
Moore           222
Name: city, dtype: int64

In [71]:
city_dum=pd.get_dummies(new5['city']).drop('other',axis=1)

In [72]:
new6=pd.concat([new5,city_dum],axis=1)

In [73]:
new6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7291 entries, 0 to 7313
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   address                 7291 non-null   object
 1   price                   7291 non-null   float64
 2   zip_code                7291 non-null   object
 3   city                    7291 non-null   object
 4   bed_rooms               7291 non-null   float64
 5   bath_rooms              7291 non-null   float64
 6   sq_ft                   7291 non-null   float64
 7   lot_size                7291 non-null   float64
 8   property_type           7291 non-null   object
 9   unique_id               7291 non-null   object
 10  price_per_sq_ft         7291 non-null   float64
 11  devon_zip               7291 non-null   object
 12  geo_distance_km         7291 non-null   float64
 13  bed_to_bath_ratio       7291 non-null   float64
 14  median_homeprice_byzip  7291 non-null   float64
 15  Median_income           7291 non-null   float64
 16  Population              7291 non-null   float64
 17  percapitmedianzipprice  7291 non-null   float64
 18  BrokenArrow             7291 non-null   uint8
 19  Edmond                  7291 non-null   uint8
 20  Lawton                  7291 non-null   uint8
 21  Moore                   7291 non-null   uint8
 22  Norman                  7291 non-null   uint8
 23  OKC                     7291 non-null   uint8
 24  Tulsa                   7291 non-null   uint8
dtypes: float64(12), object(6), uint8(7)
memory usage: 1.1+ MB

In [74]:
new6.head()

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,...,Median_income,Population,percapitmedianzipprice,BrokenArrow,Edmond,Lawton,Moore,Norman,OKC,Tulsa
0,"3101N.E,50,OklahomaCity,OK73121","1,200,000.00",73121,other,5.00,5.10,"4,834.00",0.30,Single-FamilyHome,528db3a24,...,"49,578.95","3,159.00",150.36,0,0,0,0,0,0,0
1,"20685E48thStreetS,BrokenArrow,OK74014","265,000.00",74014,BrokenArrow,3.00,2.00,"1,960.00",0.17,Residential,5b7c45cb9,...,"67,259.75","22,568.00",13.96,1,0,0,0,0,0,0
2,"18521FelizDrive,OklahomaCity,OK73012","499,999.00",73012,OKC,4.00,2.50,"3,141.00",0.30,Single-FamilyHome,efeaa8beb,...,"86,655.94","13,373.00",23.02,0,0,0,0,0,1,0
3,"2010SECypressCircle,Bartlesville,OK74006","237,990.00",74006,other,3.00,2.00,"1,412.00",0.20,Residential,5dc223a37,...,"55,052.94","23,892.00",9.88,0,0,0,0,0,0,0
4,"1704NWOakAve,Lawton,OK73507","107,500.00",73507,Lawton,3.00,2.00,"1,100.00",0.30,Single-FamilyHome,55d5a6eb6,...,"45,882.99","21,585.00",10.42,0,0,1,0,0,0,0

In [75]:
new6[new6['zip_code']=='73010'][:5]

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,...,Median_income,Population,percapitmedianzipprice,BrokenArrow,Edmond,Lawton,Moore,Norman,OKC,Tulsa
8,"203E.Broadway,Blanchard,OK73010","171,900.00",73010,other,5.00,2.00,"1,560.00",0.01,Residential,e72632216,...,"54,870.97","12,345.00",23.77,0,0,0,0,0,0,0
37,"516CedarDrive,Blanchard,OK73010","899,000.00",73010,other,4.00,4.00,"3,959.00",2.17,Residential,45dc85cb8,...,"54,870.97","12,345.00",23.77,0,0,0,0,0,0,0
280,"2481CountyRoad1322,Blanchard,OK73010","265,000.00",73010,other,3.00,3.00,"2,328.00",1.62,Residential,096a91cb8,...,"54,870.97","12,345.00",23.77,0,0,0,0,0,0,0
347,"2008Ethan'sRoarRoad,Blanchard,OK73010","253,790.00",73010,other,3.00,2.00,"1,526.00",1.33,Residential,0e7dd2f9d,...,"54,870.97","12,345.00",23.77,0,0,0,0,0,0,0
395,"CountyRoad1322,Blanchard,OK73010","140,000.00",73010,other,5.00,2.00,"1,560.00",0.01,Residential,716521d6c,...,"54,870.97","12,345.00",23.77,0,0,0,0,0,0,0

In [76]:
test=new6[new6['zip_code']=='73010'][:5]

In [77]:
#test.to_csv('kayla3.csv',index=False)

In [78]:
kayla=pd.read_csv('kayla3.csv')

In [79]:
#excluding edmond 
new6=new6[~new6['unique_id'].isin(kayla['unique_id'])]

In [80]:
#excluding object datatypes 
new7=new6.set_index('unique_id').select_dtypes(exclude=['object'])

In [81]:
new7.head()

,price,bed_rooms,bath_rooms,sq_ft,lot_size,price_per_sq_ft,geo_distance_km,bed_to_bath_ratio,median_homeprice_byzip,Median_income,Population,percapitmedianzipprice,BrokenArrow,Edmond,Lawton,Moore,Norman,OKC,Tulsa
unique_id,,,,,,,,,,,,,,,,,,,
528db3a24,"1,200,000.00",5.00,5.10,"4,834.00",0.30,248.24,7.73,1.02,"475,000.00","49,578.95","3,159.00",150.36,0,0,0,0,0,0,0
5b7c45cb9,"265,000.00",3.00,2.00,"1,960.00",0.17,135.20,174.62,0.67,"315,000.00","67,259.75","22,568.00",13.96,1,0,0,0,0,0,0
efeaa8beb,"499,999.00",4.00,2.50,"3,141.00",0.30,159.18,17.09,0.62,"307,900.00","86,655.94","13,373.00",23.02,0,0,0,0,0,1,0
5dc223a37,"237,990.00",3.00,2.00,"1,412.00",0.20,168.55,200.70,0.67,"235,990.00","55,052.94","23,892.00",9.88,0,0,0,0,0,0,0
55d5a6eb6,"107,500.00",3.00,2.00,"1,100.00",0.30,97.73,123.12,0.67,"224,950.00","45,882.99","21,585.00",10.42,0,0,1,0,0,0,0

In [82]:
##looking at only properties under 1,000,000
new8=new7[new7['price']<700000]

In [83]:
new8.shape

(6698, 19)

In [84]:
from sklearn.model_selection import train_test_split

In [85]:
train_set, test_set= train_test_split (new8, test_size=.00001, random_state=35)

In [86]:
X_train=train_set.drop('price',axis=1)

In [87]:
Y_train=train_set[['price']]

In [88]:
x_test=test_set.drop('price',axis=1)

In [89]:
y_test=test_set[['price']]

In [90]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
import xgboost
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [ ]:
models = [
          ('LinearRegression', LinearRegression()), 
         # ('KNN', KNeighborsClassifier()),
          #('SVC', SVC()), 
          
          #('GNB', GaussianNB()),
          ('RandomForest', RandomForestRegressor()),
          ('XGB',xgboost.XGBRegressor())
        ]
for name, model in models:
    clf = model.fit(X_train,Y_train.values.ravel())
    y_pred = clf.predict(x_test)
    print(name)
    #print(classification_report(y_test, y_pred))
    print('RMSE:',np.sqrt(mean_squared_error(y_test,y_pred)))
    print('MAE:',(mean_absolute_error(y_test,y_pred)))
    #print(pd.DataFrame(confusion_matrix(y_test,y_pred)))

##looking at performance on training set
models = [
          ('LinearRegression', LinearRegression()), 
         # ('KNN', KNeighborsClassifier()),
          #('SVC', SVC()), 
          
          #('GNB', GaussianNB()),
          ('RandomForest', RandomForestRegressor()),
          ('XGB',xgboost.XGBRegressor())
        ]
for name, model in models:
    clf = model.fit(X_train,Y_train.values.ravel())
    y_pred = clf.predict(X_train)
    print(name)
    #print(classification_report(y_test, y_pred))
    print('RMSE:',np.sqrt(mean_squared_error(Y_train,y_pred)))
    print('MAE:',(mean_absolute_error(Y_train,y_pred)))
    #print(pd.DataFrame(confusion_matrix(y_test,y_pred)))

In [91]:
##testing random forest 
rf=RandomForestRegressor()

In [92]:
rf.fit(X_train,Y_train.values.ravel())

RandomForestRegressor()

In [93]:
kayla.head()

,address,price,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,...,Median_income,Population,percapitmedianzipprice,BrokenArrow,Edmond,Lawton,Moore,Norman,OKC,Tulsa
0,"203E.Broadway,Blanchard,OK73010",171900,73010,other,5,2,1560,0.01,Residential,e72632216,...,"54,870.97",12345,23.77,0,0,0,0,0,0,0
1,"516CedarDrive,Blanchard,OK73010",899000,73010,other,4,4,3959,2.17,Residential,45dc85cb8,...,"54,870.97",12345,23.77,0,0,0,0,0,0,0
2,"2481CountyRoad1322,Blanchard,OK73010",265000,73010,other,3,3,2328,1.62,Residential,096a91cb8,...,"54,870.97",12345,23.77,0,0,0,0,0,0,0
3,"2008Ethan'sRoarRoad,Blanchard,OK73010",253790,73010,other,3,2,1526,1.33,Residential,0e7dd2f9d,...,"54,870.97",12345,23.77,0,0,0,0,0,0,0
4,"1501FoxRunLn,Blanchard,OK73010",485000,73010,other,3,2,2366,1.83,Residential,716521d6c,...,"54,870.97",12345,23.77,0,0,0,0,0,0,0

In [94]:
kayla.set_index('unique_id').select_dtypes(exclude=['object'])

,price,zip_code,bed_rooms,bath_rooms,sq_ft,lot_size,price_per_sq_ft,devon_zip,geo_distance_km,bed_to_bath_ratio,...,Median_income,Population,percapitmedianzipprice,BrokenArrow,Edmond,Lawton,Moore,Norman,OKC,Tulsa
unique_id,,,,,,,,,,,,,,,,,,,,,
e72632216,171900,73010,5,2,1560,0.01,110.19,73102,40.78,0.40,...,"54,870.97",12345,23.77,0,0,0,0,0,0,0
45dc85cb8,899000,73010,4,4,3959,2.17,227.08,73102,40.78,1.00,...,"54,870.97",12345,23.77,0,0,0,0,0,0,0
096a91cb8,265000,73010,3,3,2328,1.62,113.83,73102,40.78,1.00,...,"54,870.97",12345,23.77,0,0,0,0,0,0,0
0e7dd2f9d,253790,73010,3,2,1526,1.33,166.31,73102,40.78,0.67,...,"54,870.97",12345,23.77,0,0,0,0,0,0,0
716521d6c,485000,73010,3,2,2366,1.83,204.99,73102,40.78,0.67,...,"54,870.97",12345,23.77,0,0,0,0,0,0,0

In [95]:
kayla=kayla.set_index('address')

In [96]:
X_train.columns

Index(['bed_rooms', 'bath_rooms', 'sq_ft', 'lot_size', 'price_per_sq_ft',
       'geo_distance_km', 'bed_to_bath_ratio', 'median_homeprice_byzip',
       'Median_income', 'Population', 'percapitmedianzipprice', 'BrokenArrow',
       'Edmond', 'Lawton', 'Moore', 'Norman', 'OKC', 'Tulsa'],
      dtype='object')

In [97]:
blanchard_pred=kayla[['bed_rooms', 'bath_rooms', 'sq_ft', 'lot_size', 'price_per_sq_ft',
       'geo_distance_km', 'bed_to_bath_ratio', 'median_homeprice_byzip',
       'Median_income', 'Population', 'percapitmedianzipprice', 'BrokenArrow',
       'Edmond', 'Lawton', 'Moore', 'Norman', 'OKC', 'Tulsa']]

In [98]:
##predicting selected blanchard homes 
kayla['predictions']=rf.predict(blanchard_pred)

In [99]:
kayla['diff']=kayla['predictions']-kayla['price']

In [100]:
kayla.columns

Index(['price', 'zip_code', 'city', 'bed_rooms', 'bath_rooms', 'sq_ft',
       'lot_size', 'property_type', 'unique_id', 'price_per_sq_ft',
       'devon_zip', 'geo_distance_km', 'bed_to_bath_ratio',
       'median_homeprice_byzip', 'Median_income', 'Population',
       'percapitmedianzipprice', 'BrokenArrow', 'Edmond', 'Lawton', 'Moore',
       'Norman', 'OKC', 'Tulsa', 'predictions', 'diff'],
      dtype='object')

In [101]:
kayla=kayla[['price','predictions', 'diff','zip_code', 'city', 'bed_rooms', 'bath_rooms', 'sq_ft',
       'lot_size', 'property_type', 'unique_id', 'price_per_sq_ft',
       'devon_zip', 'geo_distance_km', 'bed_to_bath_ratio',
       'median_homeprice_byzip', 'Median_income', 'Population',
       'percapitmedianzipprice', 'BrokenArrow', 'Edmond', 'Lawton', 'Moore',
       'Norman', 'OKC', 'Tulsa' ]]

In [102]:
pd.options.display.max_columns=None

In [104]:
kayla.sort_values('diff',ascending=False)[:4]

,price,predictions,diff,zip_code,city,bed_rooms,bath_rooms,sq_ft,lot_size,property_type,unique_id,price_per_sq_ft,devon_zip,geo_distance_km,bed_to_bath_ratio,median_homeprice_byzip,Median_income,Population,percapitmedianzipprice,BrokenArrow,Edmond,Lawton,Moore,Norman,OKC,Tulsa
address,,,,,,,,,,,,,,,,,,,,,,,,,,
"1501FoxRunLn,Blanchard,OK73010",485000,"488,537.80","3,537.80",73010,other,3,2,2366,1.83,Residential,716521d6c,204.99,73102,40.78,0.67,293450,"54,870.97",12345,23.77,0,0,0,0,0,0,0
"2008Ethan'sRoarRoad,Blanchard,OK73010",253790,"253,507.64",-282.36,73010,other,3,2,1526,1.33,Residential,0e7dd2f9d,166.31,73102,40.78,0.67,293450,"54,870.97",12345,23.77,0,0,0,0,0,0,0
"203E.Broadway,Blanchard,OK73010",171900,"171,198.00",-702.00,73010,other,5,2,1560,0.01,Residential,e72632216,110.19,73102,40.78,0.40,293450,"54,870.97",12345,23.77,0,0,0,0,0,0,0
"2481CountyRoad1322,Blanchard,OK73010",265000,"263,608.00","-1,392.00",73010,other,3,3,2328,1.62,Residential,096a91cb8,113.83,73102,40.78,1.00,293450,"54,870.97",12345,23.77,0,0,0,0,0,0,0

In [ ]:
xgb=xgboost.XGBRegressor()

In [ ]:
#xgb.fit(X_train,Y_train.values.ravel())

In [ ]:
#import shap

In [ ]:
#values=shap.TreeExplainer(xgb).shap_values(X_train)

In [ ]:
#shap.summary_plot(values, X_train)

In [ ]:
test_set

In [ ]:
test_set['price_predictions']=rf.predict(x_test)

In [ ]:
x_test.head()

In [ ]:
test_set['diff']=test_set['price_predictions']-test_set['price']

In [ ]:
undervalued_sort=test_set.sort_values('diff',ascending=False).reset_index()

In [ ]:
undervalued_sort

In [ ]:
undervalued_sort2=undervalued_sort[['unique_id','price_predictions','diff']]

In [ ]:
see=undervalued_sort2.merge(new6,on='unique_id',how='inner')

In [ ]:
pd.set_option('display.max_columns',None)

In [ ]:
see.head(20)

In [ ]:
see[see['unique_id'].isin(['d576d7cae','a7f1995dd','aa631fc06','00d8aa003'])]

In [ ]:
##saving the winning model 
import joblib

In [ ]:
##saving the winning model to a pkl. file  xgboost model 
##joblib.dump(rf,'rf_final_2.pkl')